html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #2d2c2c;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

a,
a:visited {
  color: #2d2c2c;
}

a:hover {
  color: #575656;
}

ul {
  padding-left: 14px;
}

dt {
  font-weight: bold;
}

button {
  color: #2d2c2c;
}

input[type=text],
input[type=number] {
  font-size: 16px;
}

.stbo-generator-page {
  display: grid;
  grid-template-columns: 1fr 420px;
  height: 100%;
}

.stbo-generator-page-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-image: linear-gradient(0deg, transparent 31px, #cecece 32px), linear-gradient(90deg,  transparent 31px, #cecece 32px);
  background-size: 32px 32px;
}

.stbo-generator-page-generator {
  padding: 16px;
  height: 100%;
  background-color: #f6f5f1;
  box-sizing: border-box;
  overflow: auto;
}

.stbo-generator-page-preview-debug {
  margin: 8px 0;
  font-size: 12px;
  text-align: center;
}

.stbo-generator-page-title {
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.stbo-generator-page-title-version {
  display: block;
  font-size: 12px;
}

.stbo-generator-page-buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stbo-generator-page-buttons > .stbo-generator-page-button {
  display: flex;
}

.stbo-generator-page-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}

.stbo-generator-page-button-primary {
  background-color: #2d2c2c;
  border: 1px solid #2d2c2c;
  color: #f6f5f1;
  padding: 8px;
  margin: 0;
  border-radius: 50vh;
  box-shadow: 0 2px 4px rgba(187, 171, 67, 0.07);
}

.stbo-generator-page-button-primary:hover {
  background-color: #3f3f3e;
}

.stbo-generator-page-button-secondary {
  background-color: transparent;
  border: 1px solid #2d2c2c;
  padding: 8px;
  margin: 0;
  border-radius: 50vh;
  box-shadow: 0 2px 4px rgba(187, 171, 67, 0.07);
}

.stbo-generator-page-button-secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/**
 * フォーム
 */
.stbo-generator-page-form {
  flex: 1;
}

.stbo-generator-page-form-format {
  border-radius: 5px;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(187, 171, 67, 0.07);
}

.stbo-generator-page-form-format-item {
  padding: 8px;
  display: flex;
  align-items: center;
}

.stbo-generator-page-form-format-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.stbo-generator-page-form-format-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.stbo-generator-page-form-format-item + .stbo-generator-page-form-format-item {
  border-top: 1px solid #e1e1e1;
}

.stbo-generator-page-form-format-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.stbo-generator-page-form-format-item-label {
  font-weight: bold;
  flex: 1;
  margin: 0 8px;
}

.stbo-generator-page-form-stage {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 5px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(187, 171, 67, 0.07);
}

.stbo-generator-page-form-stage + .stbo-generator-page-form-stage {
  margin-top: 16px;
}

.stbo-generator-page-form-stage-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 14px;
  background-color: #f6f5f1;
}

.stbo-generator-page-form-stage-label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 0 0 4px 0;
}

.stbo-generator-page-form-stage-note {
  font-size: 12px;
  display: block;
  margin: 4px 0;
}

.stbo-generator-page-form-stage-drop-zone {
  border-radius: 5px;
  border: 1px dashed #e1e1e1;
  padding: 8px;
}

.stbo-generator-page-form-stage:not(:first-child):hover
  .stbo-generator-page-form-stage-delete {
  visibility: visible;
}

.stbo-generator-page-form-stage-delete {
  visibility: hidden;
  display: inline-flex;
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 12px;
  background-color: #2d2c2c;
  border: 1px solid #2d2c2c;
  color: #fff;
  border-radius: 50vh;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.stbo-generator-page-form-stage-add {
  display: flex;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  width: 100%;
  justify-content: right;
  align-content: center;
}

.stbo-generator-page-form-common {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.stbo-generator-page-form-common input {
  width: 100%;
  height: 32px;
  border: 1px solid #f6f5f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(187, 171, 67, 0.07);
}

.stbo-generator-page-form-common input[type="number"] {
  text-align: right;
}

.stbo-generator-page-form-title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 32px 0 16px 0;
}

.stbo-generator-page-form-title:first-child {
  margin-top: 0;
}

.stbo-generator-page-form-note {
  display: block;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

/*
 * ヘルプ
 */

.stbo-generator-page-help {
  padding: 24px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 80vw;
  max-height: 80vh;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(187, 171, 67, 0.07);
  font-size: 14px;
  box-sizing: border-box;
}

.stbo-generator-page-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*
 * レスポンシブ
 */
@media screen and (max-width: 728px) {
  .stbo-generator-page-preview {
    padding: 0;
  }

  .stbo-generator-page-generator {
    overflow: visible;
  }

  .stbo-generator-page {
    grid-template-columns: 1fr;
  }
}
